$pink: #e8039b;
$orchid: #e03df6;
$error: #f7594e;
$dark-red: #8B0000;
$cyan:#32f4fe;
$neon-blue: #37eafe;
$neon-green: #00e9be;
$water-green: #2EDCC8;
$purple: #4e2cb4;
$blue-purple:#442ee8;
$strong-purple: #3b1f90;
$strong-purple2: #25144B;
$med-purple: #6c2bb4;
$light-purple: #8151cd;
$purple-pink: #b146e2;
$violet: #896af6;
$lite-violet: #af9eee;
$lite-violet2: #EFF1FF;
$lite-violet3: #edeafa;
$text-purple: #c4bceb;
$blue: #657cfe;
$dark-blue: #452EE8;
$strong-blue: #241688;
$text-grey: #BCB7C4;
$dark-grey: #6c6d6f;
$light-gr: #f1f1f1;
$chumbo: #26384c;
$strong-chumbo:#112232;
$black:#212121;
$white: #ffffff;
$white-smoke: #f5f5f5;
$background: #f5f4fa;